<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receiver</title>
</head>
<body>
<h3>Websocket Receiver</h3>

<div class="log-container">
  {{ range .Logs }}
  <div class="{{ .Type }}">
    {{ .Content }}
  </div>
  {{ end }}
</div>
</body>
</html>

<style>
  html {
    height: 85%;
  }
  body {
    height: 100%;
  }
  .log-container {
    background-color: #5a5a5a;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .log-container > div {
    margin: 5px 10px;
  }
  .error {
    color: #7d1616;
    font-weight: 600;
  }

  .info {
    color: antiquewhite;
  }

  .primary {
    color: #44b144;
  }
</style>