<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
  .filter__button {
    margin: 0 20px;
  }
</style>
<body>
<div class="container">
  <h2>Report Table</h2>
  <form action="/report" class="filter" id="filterForm">
    <div class="row">
      <div class="form-group col-xs-2">
          <label for="filterId">ID</label>
          <input id="filterId" value="{{ .Filter.ID }}" name="id" type="text" class="form-control input-sm" placeholder="ID"/>
      </div>
      <div class="form-group col-xs-2">
        <label for="filterBattery1__from">Battery1</label>
        <input id="filterBattery1__from"
               {{ if gt .Filter.Battery1From 0 }}
               value="{{.Filter.Battery1From }}"
               {{ end }}
               name="battery1From" class="form-control input-sm" placeholder="From"/>
        -
        <input id="filterBattery1__to"
                {{ if gt .Filter.Battery1To 0 }}
                value="{{ .Filter.Battery1To }}"
                {{ end }}
               name="battery1To" class="form-control input-sm" placeholder="To"/>
      </div>
      <div class="form-group col-xs-2">
        <label for="filterBattery2__from">Battery2</label>
        <input id="filterBattery2__from"
               {{ if gt .Filter.Battery2From 0 }}
               value="{{ .Filter.Battery2From }}"
               {{ end }}
               name="battery2From" class="form-control input-sm" placeholder="From"/>
        -
        <input id="filterBattery2__to"
               {{ if gt .Filter.Battery2To 0 }}
               value="{{ .Filter.Battery2To }}"
               {{ end }}
               name="battery2To" class="form-control input-sm" placeholder="To"/>
      </div>
      <div class="form-group col-xs-3">
          {{ .Filter.DateFromRequest }}
        <label for="filterDate__from">Date</label>
        <input id="filterDate__from" type="date" name="dateFrom" class="form-control input-sm" placeholder="From"/>
        -
        <input id="filterDate__to"
               type="date" name="dateTo" class="form-control input-sm" placeholder="To"/>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-info filter__button-download pull-left" id="buttonDownload">
        Download
      </button>
      <button type="submit" class="btn btn-primary filter__button pull-right">
        Submit
      </button>
      <button class="btn btn-warning filter__button pull-right" id="buttonClean">
        Clean
      </button>
    </div>
  </form>
  <table class="table">
    <thead>
    <tr>
      <th>Location</th>
      <th>Battery1</th>
      <th>Battery2</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th>ID</th>
      <th>Date</th>
    </tr>
    </thead>

    <tbody>
    {{ range $index, $d := .DeviceDatas }}
    <tr>
      <td>
        <a href="https://www.google.com/maps/search/?api=1&query={{ $d.GPS.Long | location }},{{ $d.GPS.Lat | location }}" target="_blank">
            {{ $d.GPS.Long }} | {{ $d.GPS.Lat }}
        </a>
      </td>
      <td>
        {{ $d.Battery.Battery1 }}
      </td>
      <td>
        {{ $d.Battery.Battery2 }}
      </td>
      <td>
          {{ $d.Motion.X }}
      </td>
      <td>
          {{ $d.Motion.Y }}
      </td>
      <td>
          {{ $d.Motion.Z }}
      </td>
      <td>
          {{ $d.ID }}
      </td>
      <td>
          {{ $d.Date | dateToString }}
      </td>

    </tr>

    {{ end }}
    </tbody>


  </table>
</div>

<script type="text/javascript">
  const filterId = document.getElementById('filterId')
  const battery1From = document.getElementById('filterBattery1__from')
  const battery1To = document.getElementById('filterBattery1__to')
  const battery2From = document.getElementById('filterBattery2__from')
  const battery2To = document.getElementById('filterBattery2__to')
  const form = document.getElementById('filterForm')

  const dateFrom = document.getElementById("filterDate__from")
  const dateTo = document.getElementById("filterDate__to")

  const dateFromValue = {{ .Filter.DateFromRequest }}
  const dateToValue = {{ .Filter.DateToRequest }}

  if(dateFromValue) {
    dateFrom.value = dateFromValue
  }
  if(dateToValue) {
    dateTo.value = dateToValue
  }

  dateFrom.addEventListener('change', (e) => {
    dateTo.setAttribute('min', dateFrom.value)
  })

  const button = document.getElementById('buttonClean')
  button.addEventListener('click', (e) => {
    e.preventDefault()
    filterId.value = ''
    battery1From.value = ''
    battery1To.value = ''
    battery2To.value = ''
    battery2From.value = ''
    dateFrom.value = ''
    dateTo.value = ''
    form.submit()
  })

  const download = document.getElementById("buttonDownload")
  download.addEventListener('click', (e) => {
    e.preventDefault()
    form.setAttribute('action', '/download')
    form.submit()
    form.setAttribute('action', '/report')

  })
</script>

</body>
</html>
